In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl

In [8]:
df_falhas = pd.read_csv('../data/FALHAS_PREDICT_1.csv')
df_falhas = df_falhas.drop(columns=['Unnamed: 0'], axis=1)
df_falhas.head()

/tmp/ipykernel_31305/2838200446.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_falhas = pd.read_csv('../data/FALHAS_PREDICT_1.csv')

,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,S_GROUP_ID,DATA
0,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,5,2024-05-20 21:31:51.992
1,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,4,2024-05-20 21:30:22.772
2,T-CROSS,2R2R,DHS,PCEQS100,4004554,ZP5,PORTA DIANTEIRA SOLDA - RESPINGO,4,2023-12-06 06:48:29.543
3,T-CROSS,2R2R,DHS,PCEQS114,2020297,ZP5,CINTO DE SEGURANÇA - FIXAÇÃO ASSOALHO ROSCA NOK,2,2023-12-05 21:36:33.284
4,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,9830946,2024-05-20 20:04:55.534

In [9]:
df_falhas.describe()
#  É possível notar que há dados nulos em algumas colunas, a julgar pela contagem

,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,S_GROUP_ID,DATA
count,758916,758916,758916,758906,758906,757311,758916,758916,758916
unique,1,13,5,80,454,30,6581,19,585194
top,T-CROSS,K2K2,DHS,HCEQS506,2039346,ZP7,Painel lateral 05. Sujeira na pintura,2,2023-10-05 14:27:31.000
freq,758916,197803,463239,381564,36311,306878,25630,231272,14

In [12]:
#Excluir linhas que possuem dados nulos
df_falhas = df_falhas.dropna()
df_falhas.describe()

,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,S_GROUP_ID,DATA
count,757311,757311,757311,757311,757311,757311,757311,757311,757311
unique,1,13,5,78,451,30,6575,19,583929
top,T-CROSS,K2K2,DHS,HCEQS506,2039346,ZP7,Painel lateral 05. Sujeira na pintura,2,2023-10-05 14:27:31.000
freq,757311,197462,462316,381564,36311,306878,25536,230807,14

In [13]:
df_falhas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 757311 entries, 0 to 758915
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   MODELO      757311 non-null  object
 1   COR         757311 non-null  object
 2   MOTOR       757311 non-null  object
 3   ESTACAO     757311 non-null  object
 4   USUARIO     757311 non-null  object
 5   HALLE       757311 non-null  object
 6   FALHA       757311 non-null  object
 7   S_GROUP_ID  757311 non-null  object
 8   DATA        757311 non-null  object
dtypes: object(9)
memory usage: 57.8+ MB

In [24]:
df_falhas["S_GROUP_ID"].unique()

for dado in df_falhas["S_GROUP_ID"]

array(['5', '4', '2', '9830946', '1', '-2', '133', '140', '#MULTIVALUE',
       '137', 2, 4, 133, 1, 5, 9830946, -2, 140, 137], dtype=object)