### **Análise dos dados**

Segue abaixo a análise dos dados inicialmente fornecidos.

Imports

In [183]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

Inicializando os dados

In [241]:
df_resultados = pd.read_csv('data/RESULTADOS_04_06_2024_full_teste.csv', compression='gzip')
df_resultados2 = pd.read_csv('data/RESULTADOS_02_03_2024_full_teste.csv', compression='gzip')
df_falhas = pd.read_csv('data/FALHAS_04_05_06_2024.csv')

Checando os dados

In [242]:
# Remover coluna errada
df_resultados = df_resultados.drop(columns=['Unnamed: 0'], axis=1)
df_resultados2 = df_resultados2.drop(columns=['Unnamed: 0'], axis=1)

In [244]:
df_falhas = df_falhas.drop(columns=['Unnamed: 0'], axis=1)

Arrumar os dados de falha

In [246]:
df_falhas.columns = df_falhas.iloc[0]

df_falhas = df_falhas.drop(df_falhas.index[0])

Checar ambos DFs

In [247]:
df_falhas.head(20)

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,20/5/2024 21:31:52
2,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,20/5/2024 21:30:23
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,20/5/2024 20:04:56
4,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 12:15:40
5,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,5/6/2024 17:38:52
6,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,5/6/2024 17:39:18
7,2023-4896002,T-CROSS,0Q0Q,,PCEQS314,2061350,ZP5A,TETO 05. SUJEIRA NA PINTURA,28/5/2024 12:25:49
8,2024-0576008,T-CROSS,6UA1,CWL,PCEQS622,4004807,ZP8R,Farol (09) Peça NOK,9/4/2024 17:51:52
9,2024-0576008,T-CROSS,6UA1,CWL,PCEQS622,4004807,ZP8R,FAROL (09) PEÇA NOK,9/4/2024 17:51:52
10,2024-0576017,T-CROSS,K2K2,CWL,PCEQS999,2087715,ESPC,Tampa traseira 05. Sujeira na pintura,11/4/2024 11:58:13
11,2024-0576017,T-CROSS,K2K2,CWL,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 11:58:13
12,2024-0576018,T-CROSS,2R2R,DHS,STOL,FHQWRAP,ZP6,Teste eletrônico (IBN_3) NOK,12/4/2024 17:38:05
13,2024-0576018,T-CROSS,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,12/4/2024 17:38:05
14,2024-1316075,T-CROSS,K2K2,CWL,HCEQS504,2051427,ZP7,Console central Ajuste incorreto,4/4/2024 06:56:31
15,2024-1316075,T-CROSS,K2K2,CWL,HCEQS504,2051427,ZP7,CONSOLE CENTRAL AJUSTE INCORRETO,4/4/2024 06:56:31
16,2024-1316075,T-CROSS,K2K2,CWL,HCEQS506,4004717,ZP7,Aplique da tampa traseira (grip molding) Danif...,4/4/2024 06:39:45
17,2024-1316075,T-CROSS,K2K2,CWL,HCEQS506,4004717,ZP7,Painel lateral 05. Sujeira na pintura,4/4/2024 06:42:16
18,2024-1316075,T-CROSS,K2K2,CWL,HCEQS506,4004717,ZP7,Painel lateral Contaminado,4/4/2024 06:29:51
19,2024-1316075,T-CROSS,K2K2,CWL,HCEQS506,4004717,ZP7,Paralama dianteiro 02. Ondulação,4/4/2024 06:37:58
20,2024-1316075,T-CROSS,K2K2,CWL,HCEQS506,4004717,ZP7,Paralama dianteiro Prep. Pintura NOK,4/4/2024 06:25:44

Analisando os tipos de dados de falhas

In [ ]:
df_falhas.describe()

In [206]:
df_resultados.head(20)

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
5,2024-0516009,210700,2,10,Grad,1.0,19 ...,2024-02-02 23:15:06
6,2024-0516009,210700,2,10,Grad,3.0,21 ...,2024-02-02 23:15:06
7,2024-0516009,210700,2,10,Nm,0.0,69.56 ...,2024-02-02 23:15:06
8,2024-0516009,210700,2,10,Nm,2.0,69.79 ...,2024-02-02 23:15:06
9,2024-0516009,520200,2,10,Grad,1.0,...,2024-02-02 22:47:56
10,2024-0516009,520200,2,10,Grad,3.0,...,2024-02-02 22:47:56
11,2024-0516009,520200,2,10,Nm,0.0,...,2024-02-02 22:47:56
12,2024-0516009,520200,2,10,Nm,2.0,...,2024-02-02 22:47:56
13,2024-0516009,562600,2,10,Grad,1.0,...,2024-02-02 22:46:43
14,2024-0516009,562600,2,10,Nm,0.0,...,2024-02-02 22:46:43
15,2024-0516009,562700,2,10,Grad,1.0,...,2024-02-02 22:46:36
16,2024-0516009,562700,2,10,Nm,0.0,...,2024-02-02 22:46:36
17,2024-0516009,720400,2,10,Grad,1.0,...,2024-02-02 22:48:03
18,2024-0516009,720400,2,10,Grad,3.0,...,2024-02-02 22:48:03
19,2024-0516009,720400,2,10,Nm,0.0,...,2024-02-02 22:48:03

Após está analise, creio que os dados de ambas as tabelas que não serão utilizados tanto no treinamento quanto teste do modelo são:

#### Falhas:

- KNR
- Estação
- Data

#### Resultados:

- KNR
- Name
- Data

OBS(Futuramente a coluna Data pode ser utilizada para criar novas features)
OBS2(Colunas KNR e Name serão removidas apenas antes do treinamento do modelo)

## Preparação dos dados

Inicialmente, os dados serão integrados em uma única tabela

In [208]:
# Remoção das colunas com NaN

df_falhas = df_falhas.dropna()
df_resultados = df_resultados.dropna()
df_resultados2 = df_resultados2.dropna()

In [ ]:
df_resultados.head(20)

In [ ]:
# Randomly sample 50% of the DataFrame
df_resultados_reduced = df_resultados.sample(frac=0.5, random_state=42)

In [ ]:
# Filtrando o dataframe df_falhas para conter apenas as linhas onde HALLE é igual a 'ROD'
df_falhas_rod = df_falhas[df_falhas['HALLE'] == 'ROD']

Convertendo a coluna DATA para um formato melhor

In [ ]:
# Convertendo para datetime
df_resultados['DATA'] = pd.to_datetime(df_resultados['DATA'], errors='coerce')

In [ ]:
# Dropando colunas que não serão usadas nesta análise preliminar

colunas = ['UNIT', 'VALUE_ID', 'VALUE']

df_resultados = df_resultados.drop(columns=colunas, axis=1)

In [ ]:
df_resultados.info()

In [209]:
df_resultados.to_parquet('data/df_resultados.parquet', index=False)
df_resultados2.to_parquet('data/df_resultados2.parquet', index=False)

In [214]:
# Limpando colunas que não serão usadas agora

colunas = ['UNIT', 'VALUE_ID', 'VALUE']

df_resultados2 = df_resultados2.drop(columns=colunas, axis=1)
df_resultados = df_resultados.drop(columns=colunas, axis=1)

In [215]:
# Transformando os DFs de resultados em apenas um DF de resultados maior

df = pd.concat([df_resultados, df_resultados2])

In [218]:
# Transformando data em datetime do pandas

df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

In [219]:
def aggregate_by_id(df, id_value):
    subset = df[df['ID'] == id_value]
    return subset.groupby('KNR').agg(
        NAME=('NAME', 'count'),  # Conta total de NAME
        SOK=('STATUS', lambda x: (x == 10).sum()),
        SNOK=('STATUS', lambda x: (x == 13).sum()),
        DATA=('DATA', lambda x: (x.max() - x.min()).total_seconds() / (3600*24))
    ).rename(columns={
        'NAME': f'ID{id_value}NAME',
        'SOK': f'ID{id_value}SOK',
        'SNOK': f'ID{id_value}SNOK',
        'DATA': f'ID{id_value}DATA'
    })

# Agregando para cada ID
id1 = aggregate_by_id(df, 1)
id2 = aggregate_by_id(df, 2)
id718 = aggregate_by_id(df, 718)

# Combinando os resultados em um único DataFrame
final_df = id1.join(id2, on='KNR', how='outer').join(id718, on='KNR', how='outer').reset_index()

# Adicionando UNIQUE_ID com valores incrementais

# Reordenando as colunas para o formato desejado
final_df = final_df[['KNR','ID1NAME', 'ID1SOK', 'ID1SNOK', 'ID1DATA', 'ID2NAME', 'ID2SOK', 'ID2SNOK', 'ID2DATA', 'ID718NAME', 'ID718SOK', 'ID718SNOK', 'ID718DATA']]

# Exibindo o resultado
print(final_df)

                KNR  ID1NAME  ID1SOK  ID1SNOK  ID1DATA  ID2NAME  ID2SOK  \
0      2023-2056234      5.0     5.0      0.0      0.0    770.0   766.0
1      2023-5076008      NaN     NaN      NaN      NaN      NaN     NaN
2      2023-5076015      NaN     NaN      NaN      NaN      NaN     NaN
3      2024-0516009      NaN     NaN      NaN      NaN     16.0    16.0
4      2024-0526019      NaN     NaN      NaN      NaN      NaN     NaN
...             ...      ...     ...      ...      ...      ...     ...
35312  2024-2976009      NaN     NaN      NaN      NaN     72.0    72.0
35313  2024-2976010      NaN     NaN      NaN      NaN     72.0    72.0
35314  2024-2976011      NaN     NaN      NaN      NaN     74.0    74.0
35315  2024-2976012      NaN     NaN      NaN      NaN     82.0    82.0
35316  2024-2976013      NaN     NaN      NaN      NaN     72.0    72.0

       ID2SNOK   ID2DATA  ID718NAME  ID718SOK  ID718SNOK  ID718DATA
0          4.0  4.491227       71.0      71.0        0.0   4.231748
1          NaN       NaN        3.0       1.0        2.0   0.037674
2          NaN       NaN        2.0       1.0        1.0   0.018345
3          0.0  0.019792       32.0      32.0        0.0   3.687118
4          NaN       NaN        1.0       1.0        0.0   0.000000
...        ...       ...        ...       ...        ...        ...
35312      0.0  0.045683        NaN       NaN        NaN        NaN
35313      0.0  0.059190        NaN       NaN        NaN        NaN
35314      0.0  0.089086        NaN       NaN        NaN        NaN
35315      0.0  4.293958        NaN       NaN        NaN        NaN
35316      0.0  0.054491        NaN       NaN        NaN        NaN

[35317 rows x 13 columns]

In [ ]:
count_10_status = df_resultados[(df_resultados['KNR'] == '2023-2056234') & (df_resultados['STATUS'] == 13) & (df_resultados['ID'] == 718)].shape[0]
print(count_10_status)

In [ ]:
# Define the specific KNR value you want to filter by
specific_knr = '2024-0576008'

# Filter the DataFrame to show all lines with the specific KNR
filtered_df = df[df['KNR'] == specific_knr]

# Display the filtered DataFrame
print(filtered_df)

In [ ]:
specific_knr = '2024-0576008'
name_count_per_knr = df_resultados[(df_resultados['KNR'] == specific_knr) & (df_resultados['ID'] == 718)]['NAME'].count()
print(name_count_per_knr)

In [220]:
# Fill NaN values with 0 in final_df
final_df = final_df.fillna(0)

In [221]:
final_df.head(10)

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA
0,2023-2056234,5.0,5.0,0.0,0.0,770.0,766.0,4.0,4.491227,71.0,71.0,0.0,4.231748
1,2023-5076008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,3.0,1.0,2.0,0.037674
2,2023-5076015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.0,1.0,1.0,0.018345
3,2024-0516009,0.0,0.0,0.0,0.0,16.0,16.0,0.0,0.019792,32.0,32.0,0.0,3.687118
4,2024-0526019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,1.0,0.0,0.000000
5,2024-0526096,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.000000,45.0,44.0,1.0,0.066921
6,2024-0526150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,1.0,0.0,0.000000
7,2024-0526245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,1.0,0.0,0.000000
8,2024-0526426,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.000000,36.0,36.0,0.0,0.114201
9,2024-0536077,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.0,1.0,1.0,0.041539

In [222]:
final_df.shape

(35317, 13)

Arrumando o DF de Falhas

In [248]:
# Deixa todas as falhas em letra maiuscula
df_falhas['FALHA'] = df_falhas['FALHA'].str.upper()

In [249]:
df_falhas.head()

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,20/5/2024 21:31:52
2,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,20/5/2024 21:30:23
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,20/5/2024 20:04:56
4,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,11/4/2024 12:15:40
5,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,5/6/2024 17:38:52

In [250]:
# Removendo as colunas

colunas_to_remove = ['MODELO', 'COR', 'MOTOR', 'ESTACAO', 'USUARIO', 'HALLE', 'DATA']

df_falhas = df_falhas.drop(columns=colunas_to_remove, axis=1)

In [251]:
# Remove all the KNR that are repeated in df_falhas
df_falhas_unique = df_falhas.drop_duplicates(subset=['KNR'])

# Display the unique df_falhas
df_falhas_unique.head()

0            KNR                                   FALHA
1   2023-2056234         PARALAMA DIANTEIRO 01. AMASSADO
5   2023-3896001  TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA
7   2023-4896002             TETO 05. SUJEIRA NA PINTURA
8   2024-0576008                     FAROL (09) PEÇA NOK
10  2024-0576017   TAMPA TRASEIRA 05. SUJEIRA NA PINTURA

In [252]:
df_falhas['FALHA'] = 1

In [253]:
df_falhas.head()

0           KNR  FALHA
1  2023-2056234      1
2  2023-2056234      1
3  2023-2056234      1
4  2023-2056234      1
5  2023-3896001      1

Dando merge do Falhas com Resultado

In [254]:
# Realizando o merge dos dataframes df_falhas e final_df com base na coluna 'KNR'
merged_df = pd.merge(final_df, df_falhas, on='KNR', how='outer')

In [255]:
merged_df = merged_df.fillna(0)

In [256]:
merged_df.head()

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2056234,5.0,5.0,0.0,0.0,770.0,766.0,4.0,4.491227,71.0,71.0,0.0,4.231748,1.0
1,2023-2056234,5.0,5.0,0.0,0.0,770.0,766.0,4.0,4.491227,71.0,71.0,0.0,4.231748,1.0
2,2023-2056234,5.0,5.0,0.0,0.0,770.0,766.0,4.0,4.491227,71.0,71.0,0.0,4.231748,1.0
3,2023-2056234,5.0,5.0,0.0,0.0,770.0,766.0,4.0,4.491227,71.0,71.0,0.0,4.231748,1.0
4,2023-3896001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,1.0

Normalização e treinamento do modelo

In [257]:
# Selecionando apenas as colunas específicas para normalização
cols_to_normalize = ['ID1NAME','ID1SOK', 'ID1SNOK', 'ID1DATA', 'ID2NAME', 'ID2SOK', 'ID2SNOK', 'ID2DATA', 'ID718NAME', 'ID718SOK', 'ID718SNOK', 'ID718DATA']

# Inicializando o MinMaxScaler
scaler = MinMaxScaler()

# Aplicando a normalização
merged_df[cols_to_normalize] = scaler.fit_transform(merged_df[cols_to_normalize])

# Exibindo o dataframe normalizado
merged_df.head()

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.0,0.060243,1.0
1,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.0,0.060243,1.0
2,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.0,0.060243,1.0
3,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.0,0.060243,1.0
4,2023-3896001,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.0

In [258]:
# Separando as features (X) e o target (y)
X = merged_df.drop(columns=['FALHA', 'KNR'])  # 'KNR' é apenas um identificador, então deve ser removido
y = merged_df['FALHA']

In [259]:
merged_df.head(10)

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.000000,0.060243,1.0
1,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.000000,0.060243,1.0
2,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.000000,0.060243,1.0
3,2023-2056234,0.16129,0.5,0.0,0.0,0.774648,0.778455,0.060606,0.072501,0.178841,0.251773,0.000000,0.060243,1.0
4,2023-3896001,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
5,2023-3896001,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
6,2023-4896002,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
7,2023-5076008,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.007557,0.003546,0.008811,0.000536,0.0
8,2023-5076015,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.005038,0.003546,0.004405,0.000261,0.0
9,2024-0516009,0.00000,0.0,0.0,0.0,0.016097,0.016260,0.000000,0.000319,0.080605,0.113475,0.000000,0.052489,0.0

In [260]:
merged_df.shape

(340671, 14)

In [261]:
# Find common KNR values between df_falhas and final_df
common_knr = set(df_falhas['KNR']).intersection(set(final_df['KNR']))

# Print the count of common KNR values
print(f"Number of common KNR values: {len(common_knr)}")

Number of common KNR values: 23547

In [262]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [263]:
knn = KNeighborsClassifier(n_neighbors=60)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=60)

In [264]:
train_predictions = knn.predict(X_train)
train_accuracy = accuracy_score(y_train, train_predictions)

# Performance no conjunto de teste
test_predictions = knn.predict(X_test)
test_accuracy = accuracy_score(y_test, test_predictions)

print("Acurácia no Treinamento:", train_accuracy)
print("Acurácia no Teste:", test_accuracy)

Acurácia no Treinamento: 0.9755591921801157
Acurácia no Teste: 0.975709987524767

In [265]:
print(y_train.value_counts())

FALHA
1.0    263085
0.0      9451
Name: count, dtype: int64